
# Ignore all __pycache__ folders recursively
**/__pycache__/

# Ignore video files
*.mp4



*.rar

# Ignore image files
# *.png

*.npy

*.pth

*.pt


data/comma_flow
jsonedit
data/file_checker.py
data/fix.py
